
.pure-button{
  padding:10px;
  min-width:75px;
}
.pure-button-primary--add{
  background:#3ad86e;
}
.pure-button-primary--delete{
  background:#f11818;
}
.pure-button-secondary{
  color:white;
  background: #acacac;
}
