//Main Nav settings
$mainnav_background: #7c2d2d;
$mainnav_width: 70px;
$mainnav_link_active: #fcfcd5;
$mainnav_color: white;

//main header
$mainheader_height: 35px;
$mainheader_mobile_height: 50px;
$mainheader_background: #363636;
$mainheader_toggle_color: darkgray;
$mainheader_toggle_border: #8f8b8b;
$mainheader_toggle_height: 50px;
$mainheader_toggle_width: 50px;

//modal settings
$modal_default_height: 90%;
$modal_default_width:  90%;

//browse panel settings;
$browse_panel_background: #f5f5f5;
$browse_panel_secondary_background: #f6f6f6;
$browse_panel_actions_color: #6f6a6a;
$browse_panel_actions_active_color: #393838;
$browse_panel_header_background: #e3e3e3;
$browse_panel_header_color: #555555;

//page settings
$page_header_background:  #efefef;
$page_header_color: #757575;
$page_actions_active_color: #bebdbd;

//signin settings
$signin_container_background: #444444;
$signin_header_font_size: 1.2em;
