<div class="modal modal--open"
[style.zIndex]="zIndex"
[@fadeInOut]="state">

  <div class="modal__dialog modal__dialog--small"
  [@slideInOut]="state">
    <header class="modal__header">
      <h2 class="modal__header__h2"> {{title}} </h2>
    </header>
    <div class="modal__body group">
      <section class="section">
        <header class="section__header">
        </header>
        <div class="group">
          <p class="error" *ngIf="error"> {{error}}</p>
          <ingredient-form [ingredientForm]="ingredientForm"></ingredient-form>
        </div>
      </section>
    </div>
    <footer class="modal__footer">
      <div class="btn-group">
        <button class="pure-button pure-button-secondary" (click)="close()">Cancel</button>
        <action-button
          *ngIf="action==ACTION_NEW"
          defaultClasses="pure-button pure-button-primary pure-button-primary--add"
         (onAction)="onSubmitClicked(ingredientForm)"
         [actionDisabled]="!canSubmit"
         defaultType="submit"
         busyLabel="Adding..."
         defaultLabel="Add"
         [busy]="submitting"></action-button>
         <action-button
           *ngIf="action==ACTION_EDIT"
           defaultClasses="pure-button pure-button-primary pure-button-primary"
          (onAction)="onSubmitClicked(ingredientForm)"
          [actionDisabled]="!canSubmit"
          defaultType="submit"
          busyLabel="Updating..."
          defaultLabel="Update"
          [busy]="submitting"></action-button>
      </div>
    </footer>
  </div>
</div>
